html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-family: 'Marmelad', sans-serif;
    color: var(--font-and-icons-color);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

path, svg {
    pointer-events: none;
}

* {
    /*outline: 1px solid red;*/
}

/*========================= color palette =========================*/

:root {
    --font-and-icons-color: #292D32;
}

#green-theme {
    --main-color: #C9E4DF;
    --hover-color: #B4D9D3;
    --active-color: #9ECEC5;
    --blur-color: rgba(50, 100, 91, 0.5);
    --selection-color: #6FB6AA;
}

#blue-theme {
    --main-color: #C5DEF2;
    --hover-color: #ABCFEC;
    --active-color: #8FBFE5;
    --blur-color: rgba(28, 82, 126, 0.5);
    --selection-color: #509BD8;
}

#purple-theme {
    --main-color: #DBCDF0;
    --hover-color: #C9B5E8;
    --active-color: #B699E0;
    --blur-color: rgba(69, 36, 120, 0.5);
    --selection-color: #885BCD;
}

#pink-theme {
    --main-color: #F2C6DF;
    --hover-color: #ECACD0;
    --active-color: #E590C0;
    --blur-color: rgba(126, 28, 84, 0.5);
    --selection-color: #D8509D;
}

#orange-theme {
    --main-color: #F8D9C4;
    --hover-color: #F4C7A8;
    --active-color: #F0B288;
    --blur-color: rgba(139, 66, 16, 0.5);
    --selection-color: #E9843F;
}

#yellow-theme {
    --main-color: #FAEDCB;
    --hover-color: #F7E2AE;
    --active-color: #F4D78D;
    --blur-color: rgba(145, 108, 13, 0.5);
    --selection-color: #EEB939;
}

::selection {
    background-color: var(--selection-color);
}

/*========================= the end of color palette =========================*/

/*========================= components =========================*/

/*---------- background blur ----------*/

.background-blur {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--blur-color);
    backdrop-filter: blur(1px);
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
}

.background-blur.background-blur-active {
    opacity: 1;
    pointer-events: auto;
}

/*---------- the end of background blur ----------*/

/*---------- navigation menu ----------*/

.navigation-menu.non-expanded, .navigation-menu.expanded {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 19;
    height: 100%;
    width: 260px;
    transition: 0.5s;
    background-color: var(--main-color);
    font-size: 20px;
}

.navigation-menu.non-expanded {
    width: 92px;
}

.menu-groups {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 25px;
}

.menu-group {
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    padding: 10px 0;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    color: var(--font-and-icons-color);
    user-select: none;
    transition: 0.2s;
}

.menu-item svg {
    padding-left: 30px;
    min-width: 32px;
}

.menu-item:hover {
    background: var(--hover-color);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s;
}

.menu-item:active {
    background: var(--active-color);
    cursor: pointer;
    border-radius: 10px;
}

.navigation-menu.non-expanded .menu-item-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.navigation-menu.expanded .menu-item-title {
    opacity: 1;
    transition: opacity 0.5s 0.2s;
}

.burger-menu {
    margin: 10px 30px;
    width: max-content;
    cursor: pointer;
}

.active-page {
    background: var(--active-color);
    border-radius: 10px;
    transition: 0.2s;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 40px;
    user-select: none;
}

.image-logo {
    width: 120px;
    transition: width 0.5s;
}

.text-logo-visible {
    width: 177px;
    transition: opacity 0.5s 0.1s;
}

.image-small-logo {
    width: 60px;
    transition: width 0.5s;
}

.text-logo-non-visible {
    width: 177px;
    opacity: 0;
    transition: opacity 0.2s;
}

.mobile-top-bar {
    display: none;
    z-index: 17;
}

.adaptive-menu .burger-menu {
    display: none;
    z-index: 20;
}

.mobile-bottom-navigation {
    display: none;
    z-index: 17;
}

/*---------- the end of navigation menu ----------*/

/*---------- comment ----------*/

.comment-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--main-color);
}

.comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.comment-header-user-information,
.comment-header-rating-and-date {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.comment-header-user-picture {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: white;
}

.comment-header-username {

}

.comment-header-rating {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.comment-header-date {
    font-size: 14px;
    opacity: 0.5;
}

.comment-body {
    display: flex;
    margin: 0 10px 20px 70px;
}

/*---------- the end of comment ----------*/

/*---------- filters ----------*/

.dropdown-filter,
.checkbox-filter {
    display: flex;
    height: max-content;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    user-select: none;
}

.dropdown-filter {
    position: relative;
    transition: 0.2s;
}

.dropdown-filter-header,
.checkbox-filter-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    height: max-content;
    background-color: var(--main-color);
    border-radius: 10px;
    transition: 0.2s;
    /*min-width: 100%;*/
}

.dropdown-filter-header:hover,
.checkbox-filter-wrapper:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    transition: 0.2s;
}

.dropdown-filter-header:active,
.checkbox-filter-wrapper:active {
    background-color: var(--active-color);
    cursor: pointer;
}

.dropdown-filter-arrow-up {
    transform: rotate(0.5turn);
    transition: 0.2s;
}

.dropdown-filter-arrow-down {
    transition: 0.2s;
}

.checkbox {
    height: 15px;
    width: 15px;
    accent-color: var(--font-and-icons-color);
    cursor: pointer;
}

.dropdown-filter.open {
    flex-direction: column;
    position: relative;
    border-radius: 10px 10px 0 0;
    background-color: var(--active-color);
    transition: 0.2s;
}

.dropdown-filter.open .dropdown-filter-header {
    border-radius: 10px 10px 0 0;
    background-color: var(--active-color);
    transition: 0.2s;
}

.dropdown-filter-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    row-gap: 1px;
    position: absolute;
    top: 100%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: var(--active-color);
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    z-index: 3;
    max-height: 215px;
    overflow-y: scroll;
}

.dropdown-filter-content::-webkit-scrollbar {
    display: none;
}

.dropdown-filter-content.open {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-filter-content-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    background-color: var(--active-color);
    border-bottom: 1px var(--font-and-icons-color) dashed;
    cursor: pointer;
}

.dropdown-filter-content-item:first-child {
    border-top: 1px var(--font-and-icons-color) dashed;
}

.dropdown-filter-content-item:hover {
    background-color: var(--hover-color);
}

/*---------- the end of filter drop-down menu ----------*/

/*---------- announcement card ----------*/

.announcement-card {
    display: flex;
    height: 220px;
    width: 500px;
    border-radius: 10px;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    z-index: 0;
}

.announcement-card:hover {
    background-color: var(--hover-color);
    scale: 1.03;
}

.announcement-card:active {
    background-color: var(--active-color);
    transition: 0.2s;
}

.announcement-card-information {
    display: flex;
    flex-direction: row;
    width: 460px;
}

.announcement-card-client-information {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 170px;
}

.announcement-card-client-information-photo-and-marks,
.announcement-card-client-information-location,
.announcement-card-client-information-date,
.announcement-card-order-information-dessert-type {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.announcement-card-client-information-photo-and-marks {
    justify-content: space-between;
}

.announcement-card-client-information-user-photo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: white;
}

.announcement-card-client-information-marks {
    display: flex;
    column-gap: 10px;
}

.announcement-card-div-between {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement-card-line-between {
    display: block;
    height: 100%;
    width: 3px;
    border-radius: 3px;
    background-color: var(--font-and-icons-color);
}

.announcement-card-order-information {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 60%;
}

.announcement-card-order-information-title {
    height: 2em;
    overflow: hidden;
}

.announcement-card-order-information-description {
    height: 5em;
    overflow: hidden;
}

.announcement-card-order-information-dessert-type {
    margin-top: 1px;
    overflow: hidden;
}

/*---------- the end of announcement card ----------*/

/*---------- notifications ----------*/

.notifications-wrapper {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 360px;
    background-color: white;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.notifications-wrapper.visible {
    opacity: 1;
    pointer-events: auto;
}

.adaptive-menu .notifications-wrapper {
    display: none;
}

.notifications-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 10px 20px;
}

.notifications-title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 32px;
}

.close-button {
    opacity: 0.5;
    cursor: pointer;
}

.close-button:hover {
    opacity: 0.7;
}

.close-button:active {
    opacity: 1;
}

.notifications-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    overflow-y: scroll;
    font-size: 16px;
}

.notification-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 10px;
}

.notification-group-items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.notification-group-item {
    width: 302px;
    background-color: var(--main-color);
    display: flex;
    border-radius: 10px;
}

.notification-item-content {
    margin: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.notification-item-user-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.notification-item-user-info-pic {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 25px;
}

.notification-item-text {
    display: flex;
    align-items: center;
}

/*---------- the end of notifications ----------*/

/*========================= the end of components =========================*/

/*========================= pages =========================*/

/*---------- profile page ----------*/

.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 92px;
}

.profile-content {
    margin: 20px 40px;
}

.profile-main-part,
.profile-pictures-and-comments-part {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-main-part {
    max-width: 680px;
    margin-bottom: 10px;
}

.profile-main-part-user {
    margin: 10px 20px 20px 20px;
}

.profile-main-part-user-information {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.profile-main-part-user-information-left {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.profile-main-part-user-information-right {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-end;
    min-width: max-content;
}

.profile-main-part-user-picture-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-main-part-user-picture {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: var(--hover-color);
}

.profile-main-part-user-name {
    font-size: 20px;
}

.profile-main-part-user-like-count,
.profile-main-part-user-location,
.profile-main-part-user-socials {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.profile-main-part-user-about {
    display: flex;
    height: 3em;
    margin-top: 20px;
    overflow: hidden;
}

.pictures-comments-lists-switcher-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    margin: 0 20px;
}

.pictures-comments-lists-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-color);
    transition: 0.2s;
    cursor: pointer;
}

.pictures-comments-lists-switcher:hover {
    background-color: var(--hover-color);
    transition: 0.2s;
}

.pictures-comments-lists-switcher:active {
    background-color: var(--active-color);
}

.pictures-comments-lists-switcher.active {
    background-color: var(--active-color);
}

.desserts-pictures-list.non-visible,
.profile-comments.non-visible {
    display: none;
}

.profile-comments-count-and-sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px;
    max-width: 940px;
}

.profile-pictures-and-comments-part {
    display: flex;
}

.profile-comments {
    width: 100%;
}

.profile-comments-list {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 10px;
    max-width: 800px;
}

.desserts-pictures-list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
}

.dessert-picture {
    display: flex;
    height: 330px;
    width: 330px;
    border-radius: 10px;
    background-color: var(--active-color);
    opacity: 0.2;
}

/*---------- the end of profile page ----------*/

/*---------- announcement page ----------*/

.announcements-filters-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 20px;
    padding-left: 50px;
    column-gap: 30px;
}

.announcements-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 92px;
    position: relative;
}

.announcements-top-bar {
    position: fixed;
    top: 0;
    width: calc(100% - 92px);
    background-color: white;
    z-index: 1;
}

.announcements-filters-button,
.announcements-filters-header {
    display: none;
}

.announcements-filters-wrapper {

}

.announcements-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
    margin: 90px 20px 20px 20px;
    row-gap: 20px;
    column-gap: 20px;
}

/*---------- the end of announcement page ----------*/

/*---------- settings page ----------*/

.settings-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 92px;
}

.theme-preferences-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    margin-top: 100px;
}

.theme-preference-button {
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

#green-theme-button {
    background-color: #C9E4DF;
}

#blue-theme-button {
    background-color: #C5DEF2;
}

#purple-theme-button {
    background-color: #DBCDF0;
}

#pink-theme-button {
    background-color: #F2C6DF;
}

#orange-theme-button {
    background-color: #F8D9C4;
}

#yellow-theme-button {
    background-color: #FAEDCB;
}

/*---------- the end of settings page ----------*/

/*========================= the end of pages =========================*/

/*========================= adaptive =========================*/

@media screen and (max-width: 1433px) {
    /*---------- announcements ----------*/
    .announcements-list {
        margin-top: 155px;
    }

    /*---------- the end of announcements ----------*/
}

@media screen and (max-width: 870px) {
    /*---------- profile ----------*/
    .desserts-pictures-list {
        flex-direction: column;
        align-items: center;
    }

    /*---------- the end of profile ----------*/
}

@media screen and (max-width: 828px) {
    /*---------- announcements ----------*/
    .announcements-list {
        margin-top: 215px;
    }

    /*---------- the end of announcements ----------*/
}

@media screen and (max-width: 700px) {
    /*---------- announcements ----------*/
    .announcements-top-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 92px);
    }

    .announcements-filters-button {
        display: flex;
        column-gap: 10px;
        height: max-content;
        width: 320px;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--main-color);
        cursor: pointer;
        user-select: none;
        transition: opacity 0.2s;
    }

    .announcements-filters-button:hover {
        background-color: var(--hover-color);
        transition: 0.2s;
    }

    .announcements-filters-button:active {
        background-color: var(--active-color);
    }

    .announcements-filters-button.non-visible {
        opacity: 0;
    }

    .announcements-filters-button-chosen-filters {
        display: flex;
        width: 200px;
        column-gap: 7px;
    }

    .announcements-filters-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: calc(100% - 92px);
        margin-left: 92px;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        background-color: white;
    }

    .announcements-filters-wrapper.open {
        pointer-events: auto;
        opacity: 1;
    }

    .announcements-filters-header {
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 20px 20px 0 20px;
        font-size: 20px;
    }

    .announcements-filters-title {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-left: 32px;
    }

    .announcements-filters-content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        margin: 20px;
        padding: 0;
    }

    .announcements-filters-wrapper .dropdown-filter-header, .checkbox-filter-wrapper {
        width: calc(100% - 20px);
        justify-content: space-between;
    }

    .announcements-filters-wrapper .dropdown-filter,
    .announcements-filters-wrapper .checkbox-filter {
        width: 100%;
        margin: 0;
    }

    .announcements-filters-wrapper .dropdown-filter-content {
        max-height: 430px;
    }

    .announcements-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }

    .announcement-card-information {
        flex-direction: column;
    }

    .announcement-card {
        height: 440px;
        width: 340px;
    }

    .announcement-card-information {
        width: 300px;
    }

    .announcement-card-client-information,
    .announcement-card-order-information {
        width: 100%;
        row-gap: 10px;
    }

    .announcement-card-div-between {
        height: 20px;
        width: 100%;
    }

    .announcement-card-line-between {
        height: 3px;
        width: 100%;
    }

    .announcement-card-order-information-title {
        height: 2em;
    }

    .announcement-card-order-information-description {
        height: 8em;
    }

    /*---------- the end of announcements ----------*/
}

@media screen and (max-width: 550px) {
    /*---------- navigation menu ----------*/
    .mobile-top-bar {
        display: flex;
        justify-content: right;
        align-items: center;
        position: fixed;
        height: 50px;
        width: 100%;
        background-color: var(--main-color);
        user-select: none;
    }

    .adaptive-menu .burger-menu {
        display: flex;
        position: fixed;
    }

    .text-logo {
        height: 25px;
        margin-right: 30px;
    }

    .navigation-menu .burger-menu {
        visibility: hidden;
    }

    .navigation-menu.non-expanded .menu-item-title {
        opacity: 1;
    }

    .navigation-menu.non-expanded {
        width: 260px;
    }

    .navigation-menu.expanded {
        transform: translateX(0);
    }

    .navigation-menu {
        transform: translateX(-100%);
    }

    .menu-groups {
        margin-top: 0;
        row-gap: 15px;
    }

    .menu-item {
        padding: 5px 0;
    }

    .mobile-bottom-navigation {
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: var(--main-color);
        justify-content: center;
        height: 50px;
        width: 100%;
    }

    .mobile-navigation-items {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }

    .mobile-navigation-items * {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 5px;
    }

    .logo {
        flex-direction: row;
        justify-content: center;
    }

    .image-logo, .image-small-logo {
        width: 60px;
    }

    .text-logo-visible, .text-logo-non-visible {
        width: 130px;
        opacity: 1;
    }

    .navigation-menu .notifications-wrapper {
        display: none;
    }

    .adaptive-menu .notifications-wrapper {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        height: calc(100% - 50px - 50px);
        z-index: 16;
        margin: 50px 0
    }

    /*---------- the end of navigation menu ----------*/
    /*---------- profile ----------*/
    .profile-wrapper {
        margin-left: 0;
    }

    .profile-content {
        margin: 50px 20px 0 20px;
    }

    .profile-main-part-user {
        margin: 20px;
    }

    .profile-main-part-user-information-left,
    .profile-main-part-user-information-right {
        row-gap: 15px;
    }

    .profile-main-part-user-information-left {
        justify-content: flex-end;
    }

    .profile-main-part-user-picture {
        height: 120px;
        width: 120px;
    }

    .profile-main-part-user-about {
        margin-top: 15px;
    }

    .profile-comments-count-and-sorting {
        margin-top: 5px;
    }

    .profile-comments-list {
        margin: 0 20px 70px 20px;
        max-height: unset;
    }

    .desserts-pictures-list {
        margin-bottom: 70px;
    }

    /*---------- the end of profile ----------*/
    /*---------- announcements ----------*/
    .announcements-wrapper {
        margin-left: 0;
    }

    .announcements-top-bar {
        width: 100%;
    }

    .announcements-filters-wrapper.open {
        width: calc(100% - 20px);
        margin: 50px 10px 70px 10px;
    }

    .announcements-filters-wrapper .dropdown-filter-content {
        max-height: 301px;
    }

    .announcements-filters-header {
        margin-top: 10px;
    }

    .announcements-filters-button {
        margin-top: 60px;
    }

    .announcements-list {
        margin: 130px 0 70px 0;
    }

    /*---------- the end of announcements ----------*/
    /*---------- notifications ----------*/
    .notifications-header {
        font-size: 20px;
    }

    .notifications-groups {
        width: 100%;
    }

    .notification-group-item {
        width: 340px;
    }

    /*---------- the end of notifications ----------*/
}

@media screen and (max-width: 380px) {
    /*---------- profile ----------*/
    .profile-content {
        margin: 50px 10px 0 10px;
    }

    .profile-main-part-user-information {
        column-gap: 20px;
    }

    .profile-main-part-user-information-left,
    .profile-main-part-user-information-right {
        row-gap: 10px;
    }

    .profile-main-part-user-picture {
        width: 100px;
        height: 100px;
    }

    /*---------- the end of profile ----------*/
    /*---------- announcement page ----------*/
    .announcements-filters-button {
        width: 280px;
        column-gap: 5px;
    }

    .announcements-filters-button-chosen-filters {
        width: min-content;
        column-gap: 0;
    }

    .announcement-card {
        width: 300px;
    }

    .announcement-card-information {
        width: 260px;
    }

    /*---------- the end of announcement page ----------*/
}

/*========================= the end of adaptive =========================*/
